a, a:hover {
  text-decoration: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.main-nav {
  margin-bottom: 5px;
}

.featured-section {
  background: url(../img/pattern2.png) repeat;
  position: relative;
}

.bg-video {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video video {
  position: relative;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
}

.video-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.video-content-overlay .content {
  position: relative;
  margin: auto;
  text-align: center;
  color: #eee;
  margin-top: 10em;
  z-index: 10;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5em;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0,0,0,0.55)  url(../img/grid.png) repeat;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.ls1 {
  line-height: 3em;
}

.portfolio-desc h3 a {
  color: #222;
  font-family: 'Raleway',sans-serif;
  font-size: 22px;
}

.portfolio-desc h3 a:hover {
  color: #fc4237;
}

#footer.dark, .dark #footer {
  color: #CCC;
  border-top-color: rgba(0,0,0,0.2);
}

#footer {
  position: relative;
  background: #ff3e3d url(../img/footer-2.jpg) top center repeat-x;
  border-top: 5px solid rgba(0,0,0,0.2);
}

.dark #copyrights {
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.25);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#copyrights {
  padding: 40px 0;
  background-color: #DDD;
  font-size: 14px;
  line-height: 1.8;
}

.dark .copyright-links a {
  color: rgba(255,255,255,0.25);
  border-bottom-color: rgba(255,255,255,0.25);
}

.copyright-links a {
  display: inline-block;
  margin: 0 3px;
  color: #333;
  border-bottom: 1px dotted #444;
}